<div class="container-body bg-img">
    <h2 class="text-center main-headd">Welcome to Pension Mangement System</h2>
    <div class="  st-box   ">
        <form (ngSubmit)='handleLogin()' #userForm='ngForm' class="px-3">
            <div class="form-group">
                <label for="username"><strong>Username <span class="text-danger">*</span></strong></label>
                <input type="text" class="form-control mt-1" name="username" id="username" #username="ngModel"
                    [(ngModel)]='userModel.username' minlength="4" maxlength="25" placeholder="Enter Username"
                    required />
                <!-- Validaitons -->
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-error">
                    <div *ngIf="username.errors?.['required']">
                        * Username is required
                    </div>
                    <div *ngIf="username.errors?.['minlength']">
                        * Username must be at least 4 characters long
                    </div>
                    <div *ngIf="username.errors?.['maxlength']">
                        * Username must be at most 25 characters long
                    </div>
                </div>
            </div> <!-- Username ends here -->

            <div class="mt-2">
                <label for="password"><strong>Password <span class="text-danger">*</span></strong></label>
                <input type="password" class="form-control mt-1" name="password" id="password" #password="ngModel"
                    [(ngModel)]='userModel.password' placeholder="Enter Password" required />
                <!-- Validaitons -->
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-error">
                    <div *ngIf="password.errors?.['required']">
                        * Password is required
                    </div>
                </div>
            </div><!-- Password ends here -->

            <!-- Handle login and reset with error messages -->
            <div class="text-center">
                <button class="btn btn-primary mt-3 mx-3 bg-dark-green" [disabled]="!userForm.valid">Login</button>
                <button type="reset" class="btn btn-secondary mt-3" (click)="handleReset()">Reset</button>
            </div>
            <div class="text-error text-center" (mouseleave)="handleReset()">
                <div class="mt-3">{{ msg }}</div>
                <div *ngFor='let error of fieldErrors'>
                    <p>{{ error }}</p>
                </div>
            </div>
        </form>
    </div>
</div>