.container-body{
    height: 650px;  
    color:#6ebb9e ;
    /* background-image: url("../../../assets/images/4.jpg");  
    background-size: 60%;  */
    padding: 25;
   margin-top: 100px;
   
    background-size: center;
    background-repeat: no-repeat;
    margin-right: 355px;
  
}
.bg-img{
    background-image: url("../../../assets/images/4.jpg");  
    background-size: 70%; 
    background-size: center;
    /* margin-right: 400px; */
    padding-left: 60px;
    background-repeat: no-repeat;
    padding-top: 250px;
}
.bg-dark-green{
    background-color: #008b02;
}
.st-box{
    background-color: rgb(227, 246, 243);
    padding: 10px;
    width: 50%;
    margin-left: 800px;
    border-radius: 20px;
    justify-content: center;
    margin-top: 150px;
}
.main-headd{
    color: #1f5442;
    text-shadow: 2px 2px 2px antiquewhite;
    margin-bottom: 0.3em;
    font-weight: bolder;
    margin-left: 300px;
    margin-top: -325px;
}