<h2 class="text-center main-head">Enter details to disburse the pension amount</h2>
<div class="outer-div  col-lg-6 offset-lg-3">
    <form (ngSubmit)='handleProcessPensionInput(); pensionForm.resetForm()' #pensionForm='ngForm' class="px-3">
        <!-- Aadhaar Number -->
        <div class="form group">
            <label for="aadhaar-number"><strong>Aadhaar Number <span class="text-danger">*</span></strong></label>
            <input type="text" class="form-control mt-1" id="aadhaar-number" name="aadhaar" #aadhaar=ngModel
                [(ngModel)]='processPensionInput.aadhaarNumber' pattern="^[0-9]{12}$"
                placeholder="Enter the 12 digit Aadhaar number" required />
            <!-- Validations -->
            <div *ngIf="aadhaar.invalid && (aadhaar.dirty || aadhaar.touched)" class="text-error">
                <div *ngIf="aadhaar.errors?.['required']">
                    * Aadhaar Number is required
                </div>
                <div *ngIf="aadhaar.errors?.['pattern']">
                    * Aadhaar Number format is incorrect
                </div>
            </div>
        </div> <!-- Aadhaar ends here -->

        <!-- Pension Amount -->
        <div class="form group mt-2">
            <label for="pension-amount"><strong>Pension Amount <span class="text-danger">*</span></strong></label>
            <input type="number" class="form-control mt-1" id="pension-amount" name="amt" #amt=ngModel
                [(ngModel)]='processPensionInput.pensionAmount' min=0 required />
            <!-- Validations -->
            <div *ngIf="amt.invalid && (amt.dirty || amt.touched)" class="text-error">
                <div *ngIf="amt.errors?.['required']">
                    * Pension amount is required
                </div>
                <div *ngIf="amt.errors?.['min']">
                    * Pension amount should be non-negative (>=0)
                </div>
            </div>
        </div> <!-- Pension amount ends here -->

        <!-- Service charge Amount -->
        <div class="form group mt-2">
            <label for="charge-amount"><strong>Service Charge (Public Bank - INR 500, Private Bank - INR 550) <span
                        class="text-danger">*</span></strong></label>
            <input type="number" class="form-control mt-1" id="charge-amount" name="charge" #charge=ngModel
                [(ngModel)]='processPensionInput.bankServiceCharge' min=0 required />
            <!-- Validations -->
            <div *ngIf="charge.invalid && (charge.dirty || charge.touched)" class="text-error">
                <div *ngIf="charge.errors?.['required']">
                    * Service charge amount is required
                </div>
                <div *ngIf="charge.errors?.['min']">
                    * Service charge amount should be non-negative (>=0)
                </div>
            </div>
        </div> <!-- Service charge amount ends here -->

        <!-- Handle login and reset -->
        <div class="text-center">
            <button class="btn btn-primary mt-3 mx-3" [disabled]="!pensionForm.valid">Submit Details</button>
            <button type="reset" class="btn btn-secondary mt-3" (click)="handleReset()">Reset</button>
        </div><!-- Login ends here -->

        <!-- Error messages -->
        <div class="text-error text-center mt-3" (mouseleave)="handleReset()">
            <div *ngFor='let error of fieldErrors'>
                <p>{{ error }}</p>
            </div>
        </div>
    </form> <!-- Form ends here -->
</div>

<!-- Success Message -->
<h2 [ngClass]="color" class="break-div main-head mt-3 text-center" (mouseleave)="handleReset()">{{ msg }}</h2>