.outer-div {
    background-color: #439ea3;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.break-div{
    white-space: pre-line;
}