<h1 class=" text-center main-head">Welcome to the Pension Management System Portal</h1>
<div class="row mt-3 justify-content-center">

    <!-- Pension Amount Details -->
    <div class="col-lg-11 mb-5">
        <div class="card outer-card-div curved-div ">
            <div class="card-body  inner-card-div">
                <h3 class="card-title text-center">Get Pension Amount Details</h3>
                
            </div>
            <div id="pension-amount" class="card-body">
            </div>
            <a href="#" routerLink="../pension-details" class="col-2 offset-5 btn bg-dark-blue">Head To Get Pension
                Amount <i class="fas fa-angle-double-right"></i></a>
        </div>
    </div> <!-- Pension Amount Details ends -->

    <!-- Process Pension Serivce -->
    <!-- <div class="col-lg-6">
        <div class="card outer-card-div curved-div">
            <div class="card-body inner-card-div">
                <h3 class="card-title text-center">Process Pension</h3>
                <a href="#" routerLink="../process-pension" class="col-6 offset-3 btn bg-dark-blue">Head To Process
                    Pension <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div id="process-pension" class="card-body">
            </div>
        </div>
    </div> Process pension ends -->

</div>