.bg-dark-blue {
    background-color: #6ebb9e;
    color: white;
}

.bg-dark-blue:hover {
    background-color: #6ebb9e;
}

.curved-div {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.outer-card-div {
    background-color: rgb(227, 246, 243);
    border-style: none;
    height: 600px;
}

.inner-card-div {
    padding-top: 0%;
    background-color: rgb(227, 246, 243);
    border-style: none;
}

#pension-amount {
    height: 25em;
    background-image: url("../../../assets/images/7.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 30px;
}

#process-pension {
    height: 25em;
    background-image: url("../../../assets/images/5.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}