<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="navbar-brand bg-textblack" routerLink="home" aria-current="page" href="#"><i
                class="fas fa-home">&nbsp;</i>Home</a>
          </li>
        </div>
        <div *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="navbar-brand bg-textblack" routerLink="pension-details" href="#">Pension Details</a>
          </li>
        </div>
        <!-- <div *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="process-pension" href="#">Process Pension</a>
          </li>
        </div> -->
        </ul>
        
        <div class="mx-auto">
      <a class="navbar-brand bg-textblack" href="#">Pension Management System</a>
        </div>
      
        <div class="ms-auto">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <div *ngIf="isLoggedIn()">
              <li class="nav-item">
                <a class="navbar-brand bg-textblack" (click)="logout()" href="#"><i class="fas fa-sign-out-alt">&nbsp;</i>Logout</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      
  
    
  </div>
  
  
</nav> <!-- End of header navbar  -->

<div class="container-fluid ">
  <!-- All the component routed data goes here -->
  <router-outlet></router-outlet>
</div>
<div class="mb-5"></div>

<!-- <footer class="fixed-bottom bg-dark-green">
  <div class="container">
    <p class="text-center text-white"><b>CDE Project by 2054511</b></p>
  </div>
</footer> -->