.outer-div {
    background-color:#abe278;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    margin-top: 75px;
}
/* //9cd361 */
.date-input{
    margin-top: 0%;
    width: 75%;
}

.break-div{
    white-space: pre-line;
    color: black
}
.bg-dark-green{
    background-color: #2FB02F;
}
.main-hhead{
    color: black;
    text-shadow: 2px 2px 2px antiquewhite;
    margin-bottom: 0.3em;
    font-weight: bolder;
   
}
.bg-img{
    background-image: url("../../../assets/images/0.jpg");  
    background-size: 90%; 
    background-size: center;
    justify-self: center;
    background-repeat: no-repeat;
    height: 695px;
    width:1680px;
}